footer {
    background-color: #e5e5e5;
}
.footerr {
  display: flex;
  justify-content: space-between;
}
.cart {
    margin-top: 105px;
}
.cart-content {
  margin-top: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #757575;
}
.imgg {
  margin-top: 50px;
}
.cart-header {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #08546c;
}
.cart-link a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #787878;
}
.cart-link {
    margin: 30px 0px;
}
.cart-link li {
    margin: 10px 0px;
}
